<!--
  Generated template for the CategoriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>Categoria</ion-title>
  </ion-navbar>

</ion-header>
 

<ion-content padding>
     
    <form (ngSubmit)="salvar()">

        <ion-item>
            <ion-label floating>Descrição</ion-label>
            <ion-input [(ngModel)]="categoriaDto.descricao" name="descricao" type="text"></ion-input>
        </ion-item>        
        <button ion-button small type="submit">
            Salvar
       </button>
      </form>
 
      <h5>Lista de Categorias</h5> 
      <ion-list>
        <ion-item *ngFor="let categoriaDto of categorias">            
             
            <button ion-button  clear small icon-only color="blue" (click)="editar(categoriaDto)">
              <ion-icon name="checkmark-circle-outline"></ion-icon>
            </button>             
            <button ion-button  clear small icon-only color="danger" (click)="excluir(categoriaDto)">
              <ion-icon name="trash"></ion-icon>
            </button>
         
            {{categoriaDto.descricao}}                
        </ion-item>
      </ion-list>
 
</ion-content>