<!--
  Generated template for the LoginCurtaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LoginCurta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label color="primary">Login</ion-label>
      <ion-input disabled="true" placeholder="admin"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label color="primary">Senha</ion-label>
      <ion-input [(ngModel)] = "senha" type="password" placeholder="Digite sua senha curta"></ion-input>
    </ion-item>
  </ion-list>
    
  <button ion-button full (click)="logar()">Logar</button>

</ion-content>