<!--
  Generated template for the SenhaCurtaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>senhaCurta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full (click)="presentPrompt()">Cadastrar Senha Curta</button>
  <button ion-button full (click)="apagarTxt()">Limpar Senha Curta</button>
</ion-content>
