<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <!--<button ion-button full (click)="irSenha()">Senha Curta</button>-->
  <h1>Bem Vindo!</h1>
  <ion-list>
    <ion-item (click)="irSenha()">
      <ion-avatar item-start>
        <ion-icon name="key"></ion-icon>
      </ion-avatar>
      <h2>Senha Curta</h2>
    </ion-item>
    <ion-item (click)="irPage('ProdutoPage')">
      <ion-avatar item-start>
        <ion-icon name="cart"></ion-icon>
      </ion-avatar>
      <h2>Produtos</h2>
    </ion-item>
    <ion-item (click)="irPage('CategoriaPage')">
      <ion-avatar item-start>
        <ion-icon name="albums"></ion-icon>
      </ion-avatar>
      <h2>Cateoria</h2>
    </ion-item>
  </ion-list>
</ion-content>