<!--
  Generated template for the ProdutoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produto</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="incluir()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="pesquisar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="pesquisarCodeBar()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-buttons>
 
  </ion-navbar>

</ion-header>


<ion-content padding>
     
    <h5>Lista de Produtos</h5> 
    <ion-list>
      <ion-item *ngFor="let produtoDto of produtos"> 
              
          <h2>Produto:        {{produtoDto.nomeProduto}}</h2>
          <p>Valor:           {{produtoDto.valorProduto}}</p>
          <p>Data:            {{produtoDto.dataValidadeProduto}}</p>
          <p>Código de Barra: {{produtoDto.codigoBarra}}</p>
          <p>Imagem Produto:</p>
          <ion-item>            
            <img style="Width: 80px; Height: 60; " src = "{{produtoDto.fotoProduto}}"/>
          </ion-item>
          

          <button ion-button  clear small icon-only color="blue" icon-start (click)="editar(produtoDto)">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </button>             
          <button ion-button  clear small icon-only color="danger" icon-start (click)="excluir(produtoDto)">
            <ion-icon name="trash"></ion-icon>
          </button> 
                            
      </ion-item>
    </ion-list>

</ion-content>